@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: radial-gradient(circle at top,
            hsl(214, 47%, 23%) 0%,
            hsl(237, 49%, 15%) 100%);
    color: white;
}
/* contenedor principal */
.container{
    display: grid;
    justify-items: center;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    "score"
    "choose"
    "rules"
    "footer";
    /* overflow: hidden; */
}
/* header con el titulo y los puntos */
.score{
    grid-area: score;
    width: fit-content;
    height: fit-content;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25vw;
}
/* contenedor blanco de puntos */
.score__points{
    background-color: white;
    border-radius: 5px;
    padding: 0.625rem;
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Score */
.score__points-title{
    color: hsl(225, 54%, 50%);
    letter-spacing: 1px;
    font-size: 12px;
    justify-self: flex-start;
   
}

.score__title-img{
   display: block;
   max-width: 100%;
}

/* numero de puntos */
.score__points-number{
    color: hsl(225, 2%, 40%);
    font-size: 40px;
    font-weight: 700;
   
}

/* boton de las reglas */
.rules-button{
    grid-area: rules;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}



.button{
    cursor: pointer;
    padding: 0.5rem 1.875rem;
    border-radius: 9px;
    background-color: transparent;
    border: 2px solid hsl(217, 16%, 45%);
    color: white;
    letter-spacing: 2.5px;
}
/* seccion principal */
.main{
    grid-area: choose;
    
}
/* contenedor de los botones */
.game-choose{
    grid-area: choose;
    width: 100%;
    height: 100%;
    background: url(../images/bg-triangle.svg)  no-repeat center;
    background-size: 14.375rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "paper scissor"
    "rock rock";
    place-items: center;
   
}
/* estilos globales de los botones  */
.game-choose__option{
    margin: 1rem;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1.5625rem 1.7188rem;
    border-radius: 50%;
}

game-choose__option-img{
    display: block;
    max-width: 100%;
    
}

.game-choose__option:hover{
    scale: 1.1;
}
/* estilos especificos */
.game-choose__option--paper{
    grid-area: paper;
    border: 12px solid #4865f4;
    box-shadow: inset 0 6px hsla(0, 0%, 0%, 0.2), 0 6px hsla(230, 89%, 65%, 0.7);
}

.game-choose__option--scissors{
    grid-area: scissor;
    border: 12px solid #ec9e0e;
    box-shadow: inset 0 6px hsla(0, 0%, 0%, 0.2), 0 6px hsla(40, 84%, 53%, 0.7);
}

.game-choose__option--rock{
    grid-area: rock;
    border: 12px solid #dc2e4e;
    box-shadow: inset 0 6px hsla(0, 0%, 0%, 0.2), 0 6px hsla(349, 70%, 56%, 0.7);
    
}
/* modificador para desactivar los botones */
.game-choose__option--disabled{
    pointer-events: none;
    cursor: not-allowed;
    transform: scale(1.5);
}

.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0;  
}

/* contenedor de los resultados */

.game-choose__result{
    grid-area: choose;
    height: 100%;
    width: 100%;
    /* display none hasta que se active y luego display:flex */
    display:none;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}


.game-choose__result--column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.button-option__img{
    display: block;
    max-width: 100%;
}

.game-choose__result-btn{
    margin-right: 0;
    scale: 1.5;
}

.game-choose__result-text{
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}




/* tooltip reglas */
.rules{
    /* no display hasta que no se active y luego display:grid */
    display: none;
    align-self: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "tittle X"
    "img img";
    row-gap: 20px;
    color: black;
    position: fixed;
    background-color: white;
    border-radius: 8px;
    padding: 1.875rem;
    z-index: 10;
}

.rules__title{
    grid-area: tittle;
    justify-self: start;
    grid-area: tittle;
    font-size: 2rem;
}

.rules__img{
    grid-area: img;
    max-width: 100%;
}

.rules__close{
    grid-area: X;
    background-image: url(../images/icon-close.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    justify-self: end;
}

.rules__close:hover{
    background-image: url(../images/icon-close-red.svg);
}


/* atribución */
footer{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 2rem;
}

.attribution {
    
    font-size: 12px;
    text-align: center;
    grid-area: footer;
}

.attribution a {
    color: rgba(140, 253, 41, 0.804)
}

.carga{
    width: 100%;
    display: grid;
    grid-template-areas: 'main';
    align-items: center;
    justify-items: center;
  }
  
  .carga__circle1,.carga__circle2,.carga__circle3{
    grid-row: 1/2;
    grid-column: 1/2;
    animation: pulse 3000ms 3;
  }
  
  .carga__circle1{
    background-color: rgb(68, 107, 158, .7);
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    position: relative;
    z-index: 0;
  }
  
  .carga__circle2{
     background-color: rgb(59, 97, 146,.4);
      width: 10.625rem;
      height: 10.625rem;
      border-radius: 50%;
      z-index: -1;
  }
  
  .carga__circle3{
    background-color: rgb(52, 92, 143,.5);
    width: 16.875rem;
    height: 16.875rem;
    border-radius: 50%;
    z-index: -2;
  }

  @media (max-width: 320px) {
    .game-choose__option--disabled{
        width: 6.25rem;
        height: 6.25rem;
        transform: none;
    }
    .game-choose__option--disabled img{
       transform: scale(1.8);
    
    }

  }

  @media (max-width: 600px) {
    .rules{
        /* no display hasta que no se active y luego display:grid */
        display: none;
        min-height: 100vh;
        min-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "tittle"
        "img"
        "X";
        row-gap: 20px;
        color: black;
        position: fixed;
        background-color: white;
        padding: 1.875rem;
        z-index: 10;
        align-items: center;
        justify-items: center;

    }

    .rules__title{
        justify-self: center;
    }

    .rules__close{
        justify-self: center;
    }


    .rules-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .game-choose__option--disabled{
        transform: none;
    }

    .game-choose__result{
        padding-bottom: 1.8rem;
        flex-wrap: wrap;
    }

    .game-choose__result-you{
        order: 1;
    }
    
    .game-choose__result-house{
        order: 2;
    }
    
    .game-choose__result-center{
        order: 3;
    }
    .carga__circle1{
        background-color: rgb(68, 107, 158, .7);
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        position: relative;
        z-index: 0;
      }
      
      .carga__circle2{
         background-color: rgb(59, 97, 146,.4);
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
          z-index: -1;
      }
      
      .carga__circle3{
        background-color: rgb(52, 92, 143,.5);
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 50%;
        z-index: -2;
      }
}
  


/* ⭐ animations */

@keyframes pulse{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes finalScale{
    0% {scale: 1;}
    100% {scale: 1.5;}
  }

